{{ $links := .Site.Params.links }}
<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        {{ with $links }}
        {{ with index . "user"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
        {{ with $links }}
        {{ with index . "developer"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        {{ with $links }} {{ with index . "image"}}<small><a class="text-white" href="{{ .image_url }}">{{ .text }}</a></small>{{ end }}{{ end }}
        <p class="text-white">
        {{ with .Site.Params.copyright }}&copy; {{ now.Year}} {{ .}}{{ end }} <br/>
        {{ with $links }}{{ with index . "impress"}}<a class="text-white" href="{{ .url }}">{{ .text }}</a>{{ end }}{{ end }}
        </p>
	<!-- {{ if not .Site.Params.ui.footer_about_disable }}
		 {{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
	{{ end }} -->
      </div>
    </div>
  </div>
</footer>

{{ define "footer-links-block" }}
<ul class="list-inline mb-0">
  {{ range . }}
  <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
    <a class="text-white" target="_blank" rel="noopener" href="{{ .url }}" aria-label="{{ .name }}">
      <i class="{{ .icon }}"></i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
